<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Admin</title>

	<div th:insert="~{link.html}"></div>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<style>
		.header-class {
			display: flex;
			justify-content: space-between;
		}

		.header-log-details {
			display: flex;

		}

		.admin-name {
			padding-left: 0.5rem;
		}

		.admin-name a {
			text-decoration: none;

		}
	</style>
</head>

<body>
	<header id="header">
		<div class="header-class">
			<div class="header-title">
				<h2>Smart Administrators System</h2>
			</div>
			<div class="header-log-details">
				<i class="fas fa-user-circle fa-2x"></i>
				<a style="color: white;" href="/admin/profile">
					<h4 class="admin-name"> [[${user.name}]]</h4>
				</a>
				<form th:action="@{/userLogout}" method="post">
					<button>Logout</button>
				</form>
			</div>
		</div>
	</header>
	<div id="container">
		<aside id="sidebar">
			<nav>
				<ul>
					<li class="option">Student Management
						<ul class="sub-options">
							<li class="sub-option" data-target="content-1-1">Add New Student</li>
							<li class="sub-option" data-target="content-1-2">Generate Testimonial</li>
							<li class="sub-option" data-target="content-1-3">Add New User</li>
							
						</ul>
					</li>
					<li class="option">Product Management
						<ul class="sub-options">
							<li class="sub-option" data-target="content-2-1">Add New Product</li>
							<li class="sub-option" data-target="content-2-2">QR Code Scan</li>
							<li class="sub-option" data-target="content-2-3">Product List</li>

						</ul>
					</li>
					<li class="option">Notice Management
						<ul class="sub-options">
							<li class="sub-option" data-target="content-3-1">Publish Notice</li>
							<li class="sub-option" data-target="content-3-2">Modify Notice</li>
						</ul>
					</li>
					
				</ul>
			</nav>
		</aside>
		<main id="content">
			<h1>Welcome to Department of CSE!</h1>
			<div id="content-1-1" class="hidden-content">

				<h2>Student Management</h2>
				
				<div th:include="allStudent.html"></div>
				<!--				<div th:include="studentManagement_1.html"></div>-->
			</div>
			<div id="content-1-2" class="hidden-content">
				<h2>Generate Testimonial</h2>
				
				<div th:include="DocGenerate.html"></div>
				<!--Edit form gula e kaj korte hobe-->

			</div>
			<div id="content-1-3" class="hidden-content">
				<h2>Add New User</h2>
				
				<div th:insert="AddNewUser.html"></div>

			</div>
			<div id="content-2-1" class="hidden-content">
				<h2>Add New Product</h2>
				
				<div th:include="product.html"></div>
			</div>
			<div id="content-2-2" class="hidden-content">
				<h2>QR Code Scan</h2>
				
				<img id="qrImg" class="d-block w-100" src="/icon_long/qr.png" alt="First slide">
				<!--         <img id="qrImg" class="d-block w-100" src="/images/01.jpg" alt="First slide">-->
				<div th:include="QR.html"></div>
			</div>
			<div id="content-2-3" class="hidden-content">
				<h2>Product List</h2>
				
				<div th:include="productList.html"></div>
			</div>
			<div id="content-3-1" class="hidden-content">
				<h2>Publish Notice</h2>
				
				<div th:include="NoticePost.html"></div>
				<!--				<div th:include="product.html"></div>-->
			</div>
			<div id="content-3-2" class="hidden-content">
				<h2>Modify Notice</h2>
				
				<div th:include="NoticeModify.html"></div>

				<!--				<div th:include="QR.html"></div>-->
			</div>
			
			<div id="edit" class="hidden-content">
				<h2>Edit</h2>
				<p>This is the additional content for EDIT data.</p>
				<div id="data-display"></div>

			</div>
		</main>
	</div>
	<footer id="footer">
		<p>&copy; 2023 Department of CSE. All rights reserved.</p>
	</footer>

	<script src="/js/script.js"></script>

</body>

</html>