<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/changePassword.css}" />
<title>Password Change</title>


</head>

<body>
	<div class="back">
		<i class="fa fa-arrow-left" aria-hidden="true" style="font-size:20px;"><a href="/user/profile">Return to
				Profile</a></i>
	</div>

	<div class="password-form">
		<h2>Password Change</h2>
		<form id="changePasswordForm">


			<label for="currentPassword">Current Password:</label>
			<input type="password" id="currentPassword" name="currentPassword" required>

			<label for="newPassword">New Password:</label>
			<input type="password" id="newPassword" name="newPassword" required>

			<label for="confirmPassword">Confirm Password:</label>
			<input type="password" id="confirmPassword" name="confirmPassword" required>

			<button type="button" onclick="validatePasswords()">Change Password</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script th:inline="javascript">
		var userId = /*[[${user.id}]]*/ 'defaultUserName';
	</script>
	<script src="/js/changePassword.js" defer></script>
</body>

</html>