<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="ISO-8859-1">
<title>Department of CSE</title>

</head>
<body>

	<section class="mainbody">
		<h3>Welcome to Department of CSE</h3>
		<h4>University of Barishal</h4>
		
		
<style>

.registration-info {
	width: 800px;
	border: 1px solid red;
	padding: 20px;
	border-radius: 5px;
	float: right;
	margin-right: 5px;
	background-color: #f9f9f9;
}

.registration-info p {
	margin-bottom: 10px;
}

.pp {
	color: #341f97;
	margin-left: 20px;
}

.registration-info h3 {
	text-align: center;
	color: red;
}
</style>
		<div class="registration-info">
			<h3>ATTENTION</h3>
			<h6>To experience the website, you can use the following
				credentials to log in:</h6>

			<h6>For Administrator View:</h6>
			<p class="pp">
				Email: g.admin@gmail.com<br> Password: 12345
			</p>

			<h6>For Student View:</h6>
			<p class="pp">
				Email: g.user@gmail.com<br> Password: 12345
			</p>

			<p>Our platform is designed specifically for the Department. To
				maintain the integrity and security of our resources, access is
				restricted to registered students, teachers, and administrators.
				Registration and user management are handled exclusively by our
				administrators, and login credentials for enrolled students are
				provided by them.</p>

		</div>

	</section>



</body>
</html>